# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/dist
/build
/storybook-static

# source code (do not exclude src/ folder entirely)
# !src/**/* (specific files or temporary files can be added here if needed)

# configuration
.eslintrc.*
.prettierrc*
babel.config.*
.rollup.config.*

# testing
/coverage

# misc
.DS_Store
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# storybook logs
*storybook.log
